<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书案例</title>
</head>
<body>
<form method="post">
    {{ form.csrf_token }}

    <p>{{ form.author_name.label}}
        {{ form.author_name }}</p>
    {% for msg in form.author_name.errors %}
    <p>{{ msg }}</p>
    {% endfor %}

    <p>{{ form.book_name.label}}
        {{ form.book_name }}</p>
    {% for msg in form.book_name.errors %}
    <p>{{ msg }}</p>
    {% endfor %}

    <p>{{ form.email_address.label}}
        {{ form.email_address }}</p>
    {% for msg in form.email_address.errors %}
    <p>{{ msg }}</p>
    {% endfor %}

    <p>{{ form.lead.label}}
        {{ form.lead }}</p>
    {% for msg in form.lead.errors %}
    <p>{{ msg }}</p>
    {% endfor %}

    {{form.submit}}
</form>

<hr>

<ul>
    {% for author in author%}
    <li>作者:{{ author.name }}</li>
    <ul>
        <li>邮箱:{{ author.email }}</li>
        {% for book in author.books %}
        <li>书籍:{{book.name}}</li>
        <li>人物:{{book.lead}}</li>
        <a href="/delete_book?page={{book.id}}" name="get删除">删除</a>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
</body>
</html>