<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h1>注册页面</h1>
<form method="post">
    {{ form.csrf_token }}

    <p>{{ form.user_name.label }}
        {{ form.user_name }}</p>
    {% for msg in form.user_name.errors %}
        <p>{{ msg }}</p>
    {% endfor %}

    <p>{{ form.password.label }}
        {{ form.password }}</p>
    {% for msg in form.password.errors %}
        <p>{{ msg }}</p>
    {% endfor %}

    <p>{{ form.email.label }}
        {{ form.email }}</p>
    {% for msg in form.email.errors %}
        <p>{{ msg }}</p>
    {% endfor %}

    {{ form.submit }}
</form>

<hr>

<ul>
    {% for user in user %}
        <li>帐号:{{ user.user_name }}</li>
        <li>密码:{{ user.password }}</li>
        <li>密码:{{ user.email }}</li>
        <hr>
    {% endfor %}
</ul>
</body>
</html>